.components-modal__frame.ayudante-modal {
	height: 100%;
	min-height: 850px;
	width: 100%;
}

.components-modal__frame.ayudante-modal input {
	height: 37px;
	margin-right: 5px;
	width: 90%;
}

.components-modal__frame.ayudante-modal button {
	margin: 10px 0;
}

.ayudante-ai-image-results-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px 0;
	padding: 0 15%;
}

.ayudante-ai-image-results-container .ayudante-ai-image-result {
	animation-duration: 1s;
	animation-name: opacity-transition;
	border-radius: 15px;
	margin: 0 auto 10px;
}

.text-images-loading {
	animation-duration: 1s;
	animation-name: opacity-transition;
	font-size: 1.2rem;
	font-weight: 400;
}

@keyframes opacity-transition {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.center-ai {
	text-align: center;
}

.ayudante-ai-image-result-selected {
	border: 2px solid #2271b1;
	box-shadow: 0 0 0 1px #2271b1;
}

.ayudante-tip {
	font-style: italic;
}

.ayudante-ai-help {
	text-align: center;
	width: 100%;
}
